<div id="error-container">
  <% if @kitten.errors.any? %>
    <ul>
    <% @kitten.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
</div>

<section id="kitten-form-container">
  <%= form_for @kitten, local: true, :html => { id: 'kitten-form' } do |f| %>
    <div class="form-field-container">
      <%= f.label :name, 'Name:', class: 'form-label' %>
      <%= f.text_field :name %>
    </div>
    <div class="form-field-container">
      <%= f.label :age, 'Age:', class: 'form-label'%>
      <%= f.number_field :age, value: 0, in: 0..99, class: 'number-field' %>
    </div>
    <div class="form-field-container">
      <%= f.label :cuteness, 'Cuteness:', class: 'form-label' %>
      <%= f.number_field :cuteness, value: 0, in: 1..10, class: 'number-field' %>
    </div>
    <div class="form-field-container">
      <%= f.label :softness, 'Softness:', class: 'form-label' %>
      <%= f.number_field :softness, value: 0, in: 1..10, class: 'number-field' %>
    </div>
    <%= f.submit 'Submit', class: 'submit-button' %>
  <% end %>
</section>
